*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: beige;
    padding: 5px;
}

.platform{
    width: 100%;
    min-height: 150px;
    background-color: olive;
    border-radius: 1px;
}

.heading1{
    color: white;
    font-family: monospace;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-size: x-large;
    font-weight: bold;
}

.heading2{
    color: whitesmoke;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    padding-bottom: 15px;
}

.heading3{
    color: #000;
    gap: 50px;
    font-family: monospace;
    font-size: 13px;
    display: flex;
    padding-left: 80px;
    padding-bottom: 5px;
}
.website-container{
    background-color: rgb(228, 228, 204);
    margin: 60px ; 
    max-width: 1950px; 
    height: 488px;
    padding: 30px;
    border-radius: 24px;

    display: flex;
    gap: 80px;
}

.image-header img{
    width: 720px;
    height: 420px;
    border-radius: 18px;
}

.menu-header{
    color: olive;
    font-family: monospace;
    font-size: 35px;
    letter-spacing: 5px;


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
}

.menu-list{
    font-size: 13px;
}