*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: beige;
    padding: 0px;
}

.platform{
    width: 100%;
    min-height: 150px;
    background-color: olive;
}

.heading1{
    color: white;
    font-family: monospace;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-size: x-large;
    font-weight: bold;
}

.heading2{
    color: whitesmoke;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    padding-bottom: 20px;
}

.website-container{
    background-color: rgb(151, 148, 148);
    margin: 60px ; /* Adds space around the black box, revealing the beige background */
    max-width: 1950px; /* Optional: Constrain width */
    height: 600px;
    padding: 20px; /* Internal spacing (inside the black box) */
}


