*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 110vh;
    background-color: beige;
    padding: 0px;
}

.platform{
    width: 100%;
    min-height: 150px;
    background-color: olive;
}

.heading1{
    color: white;
    font-family: monospace;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    font-size: x-large;
    font-weight: bold;
}

.heading2{
    color: whitesmoke;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    padding-bottom: 20px;
}

.heading3{
    color: #000;
    gap: 50px;
    font-family: monospace;
    font-size: 13px;
    margin-left: 80px;
    display: flex;
    align-items: flex-start;
}
.website-container{
    background-color: rgb(228, 228, 204);
    margin: 60px ; 
    max-width: 1950px; 
    height: 600px;
    padding: 10px; 
    border-radius: 5px;

    gap: 110px;
}

.theMenu{
    color: olive;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin: 10px;
}

.website-container img{
    width: 100%;
    max-width: auto;
    height: 520px;
    border-radius: 5px;
}

.MenuOptions{
    font-family: monospace;
    color: olivedrab;
    font-size: 15px;
}