*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 100%;
    min-height: 100vh;
    background-color: olive;
    padding: 1px;

    display: flex;
    align-items: center;
    padding-left: 250px;
}

.Website-Container{
    background-color: beige;
    width: 720px;
    min-height: 100vh;
    border-radius: 10px
}