*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container{
    width: 100%;
    min-height: 100vh;
    background-color: olive;
    padding: 1px;
}

.Website-Container{
    background-color: beige;
    width: 720px;
    min-height: 100vh;
    border-radius: 2px;
}

.header1{
    color: olive;
    font-family: monospace;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    letter-spacing: 10px;
    text-align: center;
    
    padding-bottom: 10px;
}

.head2-info{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.availableFoods{
    font-family: monospace;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    padding: 50px;
}